@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Arizonia&family=Titillium+Web:wght@300;400;600&family=Yeseva+One&display=swap');
/*
    font-family: 'Abhaya Libre', serif;
    font-family: 'Arizonia', cursive;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Yeseva One', cursive;
*/


* {
    box-sizing: border-box;
    margin: 0;
}

html {
    background-color: #C4DFE6;
}

body, html, main {
    width: 100%;
}

body, html, nav, aside {
    height: 100%;
}

body {
    display: flex;
    background-color: #80BD9E;
}

.nav-list a li {
    height: 2rem;
    font-size: 0.9em;
}

aside {
    width: 150px;
}

.nav-list {
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #C4DFE6;
    color: #455d7a;
    font-weight: 600;
    font-size: large;
    font-family: 'Titillium Web', sans-serif;
}

.nav-list a {
    text-decoration: none;
    color: #455d7a;
    padding: 0;
}

.contactme-hyper {
    text-decoration: none;
    color: #C4DFE6 !important;
    background-color: #455d7a;
    border: 1px solid #455d7a;
    margin: 0 auto;
    transition: all ease-in-out 200ms;
    border-radius: 5px;
}
.contactme-hyper:hover {
    background-color: #C4DFE6;
    color: #455d7a !important;
}
.contactme-hyper li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 4px;
}

#about {
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #757575;
}

#about div {
    min-width: 200px;
}

.me {
    font-family: 'Arizonia', cursive;
    letter-spacing: .15em;
    text-align: center;
}
 

.info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.info-left, .info-right {
    list-style: none;
    padding: 0;
}

.info-left li {
    font-weight: 600;
}

.certificates {
    background-color: #80BD9E;
    font-family: 'Arizonia', cursive;
    letter-spacing: .15em;
    text-align: center;
}

.skills {
    list-style: none;
    background-color: #757575;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.skills-text {
    text-align: center;
    color: #233142;
    transition: all ease-in-out 200ms;
    margin-bottom: 6px;
    font-family: 'Titillium Web', sans-serif;
}


.skills li svg {
    height: 5rem;
    width: 5rem;
    transition: all ease-in-out 200ms;
    margin-top: 8px;
}
.skills li svg:hover {
    transform: scale(105%);
}

.react-st0 {
    fill: transparent;
}
.react-st1 { 
    fill:#233142;
}
.react-st2 { 
    fill:none;
    stroke:#233142;
    stroke-width:144.7456;
    stroke-miterlimit:10
}
#react-svg path, #react-svg circle {
    transition: all ease-in-out 200ms;
}

.html-1 {
    fill: #233142;
    transition: all ease-in-out 200ms;
}
.html-2 {
    fill: #2c3e53;
    transition: all ease-in-out 200ms;
}
.html-text {
    fill: #757575;
    transition: all ease-in-out 200ms;
}
.css-1 {
    fill: #233142;
    transition: all ease-in-out 200ms;
}
.css-2 {
    fill: #2c3e53;
    transition: all ease-in-out 200ms;
}
.css-3 {
    fill: #757575;
    transition: all ease-in-out 200ms;
}

.js-1 {
    fill: #233142;
    transition: all ease-in-out 200ms;
}
.js-2 {
    fill: #757575;
    transition: all ease-in-out 200ms;
}

.project {
    background-color: #80BD9E;
    font-family: 'Arizonia', cursive;
    letter-spacing: .15em;
    text-align: center;
}



.footer {
    background-color: #757575;
}

.footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer ul li svg {
    height: 3rem;
    width: 3rem;
    transition: all ease-in-out 200ms;
    margin: 10px 5px;
}
.footer ul li  svg:hover {
    transform: scale(105%);
}

.git-stroke {
    fill:#233142;
}

.linkedin-stroke {
    fill:#233142;
}
.linkedin-text {
    fill:#757575;
}













@media (max-width: 500px){
    body {
        flex-direction: column;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .nav-list a li {
        font-size: 0.5rem;
        height: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-list a  {
        margin: 2px;
    }
    
    aside {
        width: 100%;
    }

    .contactme-hyper {
        margin: 0;
    }

}

